body {
	text-align:center;
}

.Names {
	font-size:70px;
}

.Carss {
	margin:20px 0;
  border: 1px solid black;
}

img {
  height: 150px;
  width: 200px;
  margin: 20px 0;
}

.inputs {
	padding: 5px;
	margin: 5px;
	background: none;
	border: 1px solid black;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #eee;
}
